tr.title td {background-color:green;font-size:15px;}
tr.content td {background-color:blue;
               font-size:18px;font-family: "Comic Sans MS", cursive, sans-serif;white-space: normal;word-wrap: break-word;}